<div class="page" *ngIf="sensor">

    <div class="title">Sensor: {{ sensor.key }}</div>

    <div class="form">

        <div class="form__item">
            <label for="key">Key:</label>
            <input id="key" type="text" [value]="sensor.key" [disabled]="true">
        </div>

        <div class="form__item">
            <label for="value">Value:</label>
            <input id="value" type="text" [value]="sensor.value" [disabled]="true">
        </div>

        <div class="form__item">
            <label for="time">Time:</label>
            <input id="time" type="text" [value]="sensor.time" [disabled]="true">
        </div>

        <div class="form__item">
            <label for="description">Description:</label>
            <textarea id="description" rows="2" [value]="sensor.description" [disabled]="true"></textarea>
        </div>

        <div class="form__item">
            <button routerLink="/">back</button>
        </div>

    </div>

</div>
